@import './base.css';


.btn-global-color {
    background-image: var(--vt-c-button-global-color) !important;
    color: #f8f8f8 !important;
}

.btn-aqua-color {
    background-color: var(--vt-c-button-aqua-color) !important;
}